.sidenav {
  background-color: #ed7d31;
}
.form-row {
  margin-bottom: 10px;
}

.form-row p {
  color: red;
}
.form-label {
  justify-content: end;
}

.inputbox {
  width: 60%;
}
.page-container {
  margin-top: 30px;
}

body {
  background-color: #ebd9b4;
}

.text {
  color: aliceblue;
}

.pagination {
  display: flex;
  justify-content:e;
  list-style: none;
  padding: 0;
    margin: 0 5px;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block; 
    
  }


